body {
    background-color:black;
}

h2 {
    color:#f5f5f5;
    text-align:center;
    font-family:"Gill Sans";
}

p {
    color:#f5f5f5;
    text-align:center;
    position:relative;
    top:10px;
    font-family:"Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
}

.btn-default {
    background-color: orange;
    border-color:black;
    font-family:"Gill Sans";
}

.btn-default:hover, .btn-default:focus {
    background-color:darkorange;
    border-color:black;
}

#video-player {
    position:relative;
    top:15px;
}

#footer {
    position:relative;
    top:15px;
}

a.social {

}


